application:
  actions: actions
  web: web-src
  runtimeManifest:
    packages:
      aem:
        license: Apache-2.0
        actions:
          proxy:
            function: actions/proxy/index.js
            web: 'yes'
            runtime: nodejs:16
            inputs:
              LOG_LEVEL: debug
            annotations:
              require-adobe-auth: false
              final: true
              web-custom-options: true
